@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&display=swap');

:root{
  --backgc: hsl(180, 52%, 96%); /*Light-Grayish-Cyan*/
  --filterT: hsl(180, 31%, 95%); /*Light Grayish Cyan*/
  --JobDates: hsl(180, 8%, 52%); 
  --verdeOsc: hsl(180, 14%, 20%); 
  --verdeInicial: hsl(180, 29%, 50%);/* Desaturated-Dark-Cyan*/
  --letraVerde: hsl(180deg 35% 45%);
  --Spartan: 'League Spartan', sans-serif;
  
}
*{
  font-family: var(--Spartan);
}
body {
  margin: 0px;
  background-color:var(--backgc);
}
.fondo2{
  background-color: var(--verdeInicial);
  width: 100%;
  height: 100px;
  background-image: "../img/bgdesktop.svg";
  
}
.imgFondo2{
  width: 100%;
  height: 100%;
}
.imgLogo{
  width: 100%;
  height: fit-content;
  margin: 5%;
  position: relative;
}
.titleEntrep{
  color: var(--letraVerde);
  margin:10px;
  font-weight: 500;
  font-size: 15px;
}
.titleJob{
  font-weight: 500;
  margin:10px 0px 10px 10px;
  font-size: 22px;
}
